<%- include('../layout/head.ejs') %>

<main>
  <h2 id="error">Sorry, this route does not exist! Try Route 1 instead.</h2>
  <a href="/">Return to Home</a>
</main>
    
<%- include('../layout/footer.ejs') %>