<%- include('../layout/head.ejs') %>
<%- include('../layout/header.ejs') %>

<main>
  <h2>Sorry, no results for: "<%=query%>". Check with Professor Oak.</h2>
  <a href="/">Return to Home</a>
  <section class="favorites-link">
    <div>
      <a href="/favorites">See Your Favorites</a>
    </div>
  </section>
</main>

<%- include('../layout/footer.ejs') %>