* {
  border-style: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: #F8F8F8;
}

main {
  margin: 0 auto;
}

div {
  border: 2px red solid;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

.hero {
  background: url("../assets/images/pokeball-wallpaper.png") center;
  background-size: cover;
  padding: 4rem 2rem;

  display: grid;
  align-self: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.hero > h1 {
  text-align: center;
  font-size: 4rem;
  padding-bottom: 1rem;
}

.pokedex {
  padding: 2rem;
  max-width: 960px;
  background-color: #F8F8F8;
  margin: 0 auto;
  /* padding-inline-start: 0; */
}

.pokedex > ul {
  background-color: royalblue;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1 fr));
  grid-gap: 1rem;
}

.pokedex > ul > li {
  align-content: center;
  background-color: #485150;
  border: 2px solid black;
  border-radius: 0.75rem;
  box-shadow: 3px 3px 5px black;
  color: white;
  margin: 0 auto;
}

/* .pokedex > ul > li > div {
  border: 2px solid red;
  border-radius: .5rem;
  margin: 0 auto;
} */

.pokedex > ul > li > div {
  text-align: center;
  /* padding: 0.2rem; */
}

.pokedex > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.pokedex > ul > li > div > img {
  width: 10rem;
  height: 10rem;
  margin: inherit;
}

.pokedex > ul > li > div > img.type {
  height: 40px;
  width: 100px;
}

.pokedex > ul > li > div > .type {
  width: 5rem;
  height: 5rem;
}

.pokedex > ul > li > div > h2 {
  text-transform: capitalize;
  font-size: 1.5em;
  margin: 10px;
}

.pokedex > ul > li > div > h3 {
  padding: .75rem;
  font-size: 1.25rem;
}

.pokedex > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}

.pokedex > ul > li > form > div > button {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: .5rem 1rem;
  margin: .5rem;
  
}

footer {
  background-color: #333;
  padding: .75rem;
  color: white;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: .75rem;
}

button:hover{
  transform: translateY(2px);
}

button:active {
  transform: translateY(4px);
}

a:hover {
  background-color: lightsalmon;
  transform: translateY(5px);
} 

.pokedex > a:active {
  transform: translateY(4px);
}

/* section > div > a {
  margin: 0 auto;
  font-size: 1em;
}

section > div> a:hover {
  font-size: 2em;
} */

