* {
  border-style: border-box;
  flex-direction: column;
}

body {
  display: flex;
  flex-flow: column wrap;
}

footer {
  clear: both;
  display: flex;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

/* ul {
  flex-wrap: wrap;
} */

header {
  background-color: #D95838;
  padding: 20px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  border-bottom: solid #485150 5px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  font-weight: bolder;
  display: flex;
  text-align: center;
  padding: 10px;
}

h2 {
  text-transform:capitalize;
  font-size: 1em;
  margin: 10px;
}

#poke-card {
  align-content: center;
  background-color: #485150;
  border: solid black 2px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

li > * {
  background-color: #485150;
  color: white;
}

button {
  background-color: black;
  color: white;
  padding: 3px;
  margin: 5px;
  cursor: pointer;
}

button:hover{
  transform: translateY(2px);
}

button:active{
  transform: translateY(4px);
}

a:hover{
  transform: translateY(2px);
}

a:active{
  transform: translateY(4px);
}

.ball {
  height: 30px;
  width: 30px;
  background-color: #F8F8F8;
  border-radius: 50%;
  border: solid #485150 3px;
  margin-left: 45%;
  position: absolute;
  text-align: center;
  z-index: 10;
}

a {
  border: solid #485150 3px;
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
  text-decoration: none;
}

#error {
  border: solid #485150 3px;
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
  text-transform: initial;
}

#favorites {
  border: solid #485150 3px;
  border-radius: 10px;
  /* margin: 30px; */
  padding: 10px;
}

.front-sprite {
  max-height: 120px;
  max-width: 120px;
}

.type {
  height: 44px;
  width: 100px;
  /* max-height: 77px;
  max-width: 176px; */
  margin: 1px;
}

.type-list {
  /* align-self: flex-start; */
  margin: 0 auto;
  text-align: center;
}

div {
  display: block;
}