/* Desktop view */
@media only screen and (min-width: 860px) {

  * {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
  }
  
  body {
    align-items: center;
    font-size: 36px;
    margin: 0 auto;
    align-content: space-between;
  }

  main {
    align-items: center;
    margin: 0 auto;
    max-width: 960px;
  }
  
  footer {
    clear: both;
    display: flex;
  }
  
  h1 {
    font-size: 2em;
    font-weight: bolder;
    display: flex;
  }

  header {
    background-color: #D95838;
    padding: 20px;
  }

  .ball {
    height: 30px;
    width: 30px;
    background-color: #F8F8F8;
    border-radius: 50%;
    border: solid #485150 3px;
    /* margin-left: 37%; */
    position: absolute;
    text-align: center;
    z-index: 10;
  }

  .front-sprite {
    max-height: 100px;
    max-width: 100px;
  }

}