<!DOCTYPE html>
<html>
  <head>
    <!-- <title>Poke API Final Exam</title> -->
    <link href="../../public/styles/reset.css" rel="stylesheet" type="text/css">
    <link href="../../public/styles/base.css" rel="stylesheet" type="text/css">
    <link href="../../public/styles/layout.css" rel="stylesheet" type="text/css">
    <link href="../../public/styles/modules.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>